*{
    
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.container{
    text-align:center
}
.quote{
    font-weight: 1000;
    text-shadow:1px;
    color: linear-gradient(to right, #434343 0%, black 100%);;
}
